// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


$primary: #0a568c; // Thats a sample how you could change a BootStrap variable.
$lightprimary: #09609e;
$secondary: #eab300;
$wht: #ffffff;
$blk: #000000;
$mediumblk: #1f1d1d;
$gray: #F9F9F2;

